### Maven ###
HELP.md
botn-backend/target/
!botn-backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### NPM ###
**/node_modules

### STS ###
botn-backend/.apt_generated
botn-backend/.classpath
botn-backend/.factorypath
botn-backend/.project
botn-backend/.settings
botn-backend/.springBeans
botn-backend/.sts4-cache

### VS Code ###
/.vscode/
/bin/

### Local project config files ###
botn-ui/.env
botn-backend/bin/
botn-ui/dot-env
