* {
  --primary-background-color: #EB4;
  --secondary-background-color: #C93;
  --button-background-color: #B82;
  --list-background-color: white;
  --list-secondary-background-color: #EEE;
  --list-border-color: gray;
  --primary-text-color: white;
  --secondary-text-color: black;
  --disabled-text-color: rgba(0, 0, 0, 0.3);

  /* Spacing */
  --small-padding: 6px;
  --medium-padding: 12px;
  --large-padding: 18px;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial;
}

.main-page-title {
  background-color: var(--primary-background-color);
  font-size: calc(4px + 2vmin);
  color: white;
}

.main-page {
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.main-page > * {
  margin: auto;
  padding: 32px;
}

.attendee-list-wrapper {
  width: 80vw;
}

.big-icon-with-message > .big-icon {
  font-size: 2em;
}

.big-icon-with-message > * {
  padding: 8px;
}

.title {
  font-size: calc(32px + 2vw);
  font-weight: bold;
}

.subtitle {
  font-size: calc(16px + 1vw);
  color: var(--disabled-text-color);
}

.form {
  width: calc(70% - 10vw);
  max-width: 800px;
}

.lobby {
  width: 80vw;
  max-width: 800px;
}

.bar {
  background: var(--secondary-background-color);
  color: var(--primary-text-color);
  display: flex;
  font-family: 'Arial';
  font-weight: bold;
  font-size: 20px;
  flex-direction: row;
}

.bottom-bar {
  position: sticky;
  bottom: 0;
}

.top-bar {
  position: sticky; 
  top: 0;
}

.flex-spacer {
  flex-grow: 1;
  flex-shrink: 0;
}

.top-bar > .top-bar-item {
  background: #CC9933;
  padding: 10px 12px 6px 12px;
  display: flex;
}

.top-bar > .logo {
  padding: 10px 0px 6px 12px;
}

.top-bar-menu {
  display: block;
  background: #CC9933;
}

.top-bar-menu:hover {
  background: var(--button-background-color);
  cursor: pointer;
}

.burger-menu {
  padding: 10px 10px 6px 10px;
  background: #CC9933;
  border: none;
}

.burger-menu:hover {
  background: #BB8822;
  cursor: pointer;
}

.big-button {
  background: var(--primary-background-color);
  color: white;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 8px;
  width: 200px;
  height: 60px;
  cursor: pointer;
  font-size: 16px;
  margin: 18px;
}

.big-button:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  background: var(--button-background-color);
  color: rgba(0, 0, 0, 0.3);
}

.big-button:hover {
  background: var(--button-background-color);
}

.secondary-button {
  min-width: 100px;
  height: 40px;
  border-radius: 5px;
  background: var(--secondary-background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  padding: 0 1em;
  margin: var(--small-padding) var(--medium-padding);
}

.secondary-button:disabled {
  color: var(--disabled-text-color);
}

.secondary-button:hover {
  background: var(--button-background-color);
}

.botn-input {
  display: block;
  text-align: left;
  padding: 12px;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}

.botn-input * {
}

.text-input-label {
  padding-left: 8px;
  display: block;
}

.text-input {
  height: calc(18px + 2vmin);
  padding: 8px;
  border-radius: 8px;
  display: block;
  font-size: calc(12px + 2vmin);
  font-weight: bold;
}

.form .text-input, .form .text-input-label {
  margin: 6px auto;
  width: 100%;
}

.attendee-list {
  background: var(--list-background-color);
  color: var(--secondary-text-color);
  border: 2px solid var(--list-border-color);
  max-height: 40vh;
  overflow-y: scroll;
}

.attendee-list-title {
  padding: 6px;
}

.attendee {
  display: flex;
  padding: 4px 8px 4px 8px;
  font-size: calc(16px + 1em);
}

.attendee.even {
  background: var(--list-secondary-background-color);
}

.attendee .attendee-name {
  float: left;
}

.attendee .entry-indicator {
  float: right;
}

/* sidebar Nav */

.navBar {
  position: relative;
}

.navBar button {
  cursor: pointer;
}

.menuNav {
  position: absolute;
  background: darkcyan;
  top: 100%;
  right: 0;
  width: 200px;
  z-index: 2;
  visibility: hidden;
}

.menuNav.showMenu {
  visibility: visible;
}

.menuNav .menuNav-item {
  padding: 8px 16px;
  text-align: left;
}

.menuNav-item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
}

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: #3fffd2;
  text-transform: uppercase;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 7rem;
}

.results-list, .entry-list {
  width: calc(100% - 64px);
}

.result {
  margin: 16px;
}

.result-item, .beer-card {
  border-radius: 12px;
  border: 3px solid var(--button-background-color);
  background: var(--secondary-background-color);
  text-align: left;
  font-weight: bold;
  padding: 18px 24px;
}

.beer-card {
  display: flex;
  align-items: center;
}

.beer-card > .beer-info {
  margin-right: auto;
}

.result.own-entry .result-item, .beer-card.own-entry {
  border-color: black;
}

.result-item.admin, .cursor-pointer {
  cursor: pointer;
}

.result-item.first, .beer-card.first {
  background: #ffc600;
  border-color: #c59e16;
}

.result-item.second, .beer-card.second {
  background: silver;
  border-color: gray;
}

.result-item.third, .beer-card.third {
  background: #c1740e;
  border-color: #8d550c;
}

/* TODO will need to be handled with custom className given to BeerCard in Results */
.result-item.votes-shown {
  border-radius: 12px 12px 0px 0px;
}

.result-item .medal-icon {
  display: inline-block;
  margin-right: 14px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.5em;
}

.result-item > .result-text {
  display: inline-block;
  width: 90%;
  vertical-align: middle;
}

.result-name {
  display: inline-block;
}

.own-entry-indicator {
  display: inline-block;
  font-size: 0.6em;
  margin-left: 20px;
}

.result-given-name, .beer-description {
  font-style: italic;
  font-size: calc(6px + 1.5vmin);
  color: var(--disabled-text-color);
}

.result-item > .result-score {
  display: inline-block;
  width: 10%;
  text-align: right;
  font-size: calc(18px + 2vmin);
  vertical-align: middle;
}

.beer-tail {
  margin-left: auto;
  /* font-size: calc(18px + 2vmin); */
}

.result-votes {
  color: var(--secondary-text-color);
  background: white;
  border-radius: 0px 0px 12px 12px;
  border: 2px solid var(--disabled-text-color);
  border-top-style: none;
}

.voter {
  display: block;
  padding: 6px 16px;
}

.voter.odd {
  background: var(--list-secondary-background-color);
}

/* Makes it so the last voter in the list has curved bottom edges! */
.voter.last {
  border-radius: 0px 0px 12px 12px;
}

.voter > .voter-name {
  display: inline-block;
  width: 90%;
  text-align: left;
}

.voter > .voter-place {
  display: inline-block;
  width: 10%;
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
}
