td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}

.vote-radios {
    display: flex;
    align-items: center;
}

.vote-radio-button {
    background: white;
    border: 2px solid black;
    border-radius: 50%;
    width: calc(16px + 2vmin);
    height: calc(16px + 2vmin);
    margin: 0 2vmin;
    cursor: pointer;
    position: relative;
}

.vote-radio-button > .selection {
    background: black;
    border-radius: 50%;
    width: calc(14px + 1vmin);
    height: calc(14px + 1vmin);
    position: absolute;
    left: calc(1px + 0.5vmin);
    top: calc(1px + 0.5vmin);
}

.vote-radio-button:hover {
    background: lightgray;
}

.vote-radio-text {
    font-size: 12px;
    text-align: center;
    padding: 6px;
}